* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

body {
    height: 100vh;
}

.side-nav {
    display: block;
    width: 18rem;
    height: 100vh;
    position: fixed;
}

.wrapper {
    padding-left: 19rem;
}