* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.wrapper {
    padding-left: 18rem;
}

.side-nav {
    display: block;
    width: 18rem;
    height: 100vh;
    position: fixed;
    background-color: #ffeffe;
}

